# extension
src/SIDAM/extension/*
!src/SIDAM/extension/readme.md

# ctab
src/SIDAM/ctab/*
!src/SIDAM/ctab/CET
!src/SIDAM/ctab/cmocean
!src/SIDAM/ctab/Matplotlib
!src/SIDAM/ctab/SIDAM
!src/SIDAM/ctab/ctab.default.ini
!src/SIDAM/ctab/readme.md

# fileloader
src/SIDAM/fileloader/*
!src/SIDAM/fileloader/functions.default.ini
!src/SIDAM/fileloader/Load\ Nanonis\ 3ds.ipf
!src/SIDAM/fileloader/Load\ Nanonis\ dat.ipf
!src/SIDAM/fileloader/Load\ Nanonis\ sxm\ nsp.ipf
!src/SIDAM/fileloader/Load\ RHK\ SM2.ipf
!src/SIDAM/fileloader/Load\ Topometrix.ipf
!src/SIDAM/fileloader/readme.md

# docs
docs/build/*
docs/source/api_body.rst
docs/poetry.lock
