/SIDAM/extension/*
!/SIDAM/extension/readme.md
/SIDAM/fileloader/*
!/SIDAM/fileloader/functions.default.ini
!/SIDAM/fileloader/Load\ Nanonis\ 3ds.ipf
!/SIDAM/fileloader/Load\ Nanonis\ dat.ipf
!/SIDAM/fileloader/Load\ Nanonis\ sxm\ nsp.ipf
!/SIDAM/fileloader/Load\ RHK\ SM2.ipf
!/SIDAM/fileloader/Load\ Topometrix.ipf
!/SIDAM/fileloader/readme.md