/src/SIDAM/*
!/src/SIDAM/func
!/src/SIDAM/SIDAM.default.toml

# ctab
!/src/SIDAM/ctab
/src/SIDAM/ctab/*
!/src/SIDAM/ctab/CartoColors
!/src/SIDAM/ctab/CET
!/src/SIDAM/ctab/cmocean
!/src/SIDAM/ctab/ColorBrewer
!/src/SIDAM/ctab/Matplotlib
!/src/SIDAM/ctab/SciColMaps
!/src/SIDAM/ctab/SIDAM
!/src/SIDAM/ctab/Tol
!/src/SIDAM/ctab/readme.md

# fileloader
!/src/SIDAM/fileloader
/src/SIDAM/fileloader/*
!/src/SIDAM/fileloader/SIDAM_HDF5.ipf
!/src/SIDAM/fileloader/SIDAM_LoadData_Nanonis_3ds.ipf
!/src/SIDAM/fileloader/SIDAM_LoadData_Nanonis_dat.ipf
!/src/SIDAM/fileloader/SIDAM_LoadData_Nanonis_sxmnsp.ipf
!/src/SIDAM/fileloader/SIDAM_LoadData_Nanonis_common.ipf
!/src/SIDAM/fileloader/readme.md

