* {
	margin: 0;
	padding: 0;
}

body {
	margin: 10px;
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

ul {
	margin: 0.2em 0 1.5em 1.5em;
}

ul.sub {
	margin-bottom: 0.4em;
}

ul > li {
	margin-bottom: 0.4em;
	line-height: 140%;
}

ul > li > span.rev {
	font-weight: bold;
}

ul > li > span.new {
	color: #f90;
	font-weight: bold;
}

a, a:visited {
	color: #00f;
}

strong {
	color: #f00;
}